# If mod_rewrite is enabled, enable URL rewriting
<IfModule mod_rewrite.c>
    # Enable URL rewriting
    RewriteEngine On 

    # Set the base URL for the URL rewriting
    RewriteBase /

    # Do not rewrite index.html
    RewriteRule ^index\.html$ - [L]

    # Rewrite everything else to index.html
    # Request filename is not file
    RewriteCond %{REQUEST_FILENAME} !-f
    # Request filename is not directory
    RewriteCond %{REQUEST_FILENAME} !-d
    # Rewrite to index.html
    RewriteRule . /index.html [L]
</IfModule>
